/* Room for the navbar */
body { padding-top: 70px; }

#controls {
  width: 33%;
  float: right;
}

.d3-tip {
  text-align: center;
  border-radius: 7px;
}

#scatter {
  max-height: 700px;
  width: 66%;
  float: left;
}
